input,
textarea {
	border: 1px solid $color__border;
	color: $color__silver;
	/* Removing the inner shadow on iOS inputs */
	background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) ); 
}

input:focus,
textarea:focus {
	background-color: $color__plain_white;
	border-color: 1px solid $color__border;
	color: $color__text-main;
	@include transitions(300, ease-in );
}

select:focus {
	outline: 1px solid $color__border_focus;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default;
	opacity: .5;
}

textarea {
	overflow: auto;
	vertical-align: top;
}