button,
input,
select,
textarea {
	font-family: $font__secondary;
	@include font-size(1.6);
	margin: 0;
	max-width: 100%;
	line-height: 1.5;
	vertical-align: baseline;

}

input,
select,
textarea {
	background-color: $color__light_bg;
}

button,
input {
	line-height: normal;
}

@import "buttons";

@import "fields";

/*
.widget .search-form,
.post-password-form {
	position: relative;
}

.widget .search-form label,
.post-password-form label {
	color: #707070;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 1.5;
	text-transform: uppercase;
}

.widget .search-form input[type="search"],
.post-password-form input[type="password"] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.post-password-form input[type="submit"] {
	right: 0;
	bottom: 0;	
	position: absolute;
	padding: 0.697em 3em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0;
}*/