#colophon {
	border-top: 1px solid $color__border;
}

.site-info {
	padding-left: 20px;
	padding-right: 20px;
	p {
		color: $color__silver;
		text-align: center;
		margin-bottom: 0;
		@include font-size (1.4);
		a {
			color: $color__silver;
			&:hover {
				color: $color__picton_blue;
			}
		}
	}
}

@media screen and ( max-width: $size__breakpoint-desktop ){
	.scroll-to-top {
		width: 30px;
		height: 30px;
		display: block;
		line-height: 1;
		color: $color__border;
		border: 2px solid $color__border;
		text-align: center;
		margin: 10px auto 0;			
		text-decoration: none;			
		vertical-align: middle;
		&:hover {
			border-color: $color__picton_blue;
		}
		&:before {
			content: "\f432";	
			@include genericons(2.2rem);
			line-height: 1.1111;
		}
	}
}