#masthead {
	position: relative;
	min-height: 85px;
	border-bottom: 1px solid $color__border;
	background-color: $color__plain_white;
	.inner--container {
		padding-top: 17px;
		padding-bottom: 0;
	}
	.site-branding {
		padding: 6px 20px 5px;
		.site-title {
			@include font-size(2.2);
			font-weight: 700;
			margin: 0;
			a {
				color: $color__picton_blue;
				&:hover {
					color: $color__silver;
				}
			}
		}
	}
}

.site-branding,
.site-title {
	float: left;
	clear: none;
}

.site-description {
	font-weight: 400;
	letter-spacing: 0;
}