p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	font-family: $font__main;
	@include font-size(2);
	font-style: italic;
	line-height: 1.5;
	margin: 30px 30px;
	padding: 20px 0 20px;
	cite:before {
		@include genericons(inherit);
		content: "\f50e";
		margin-right: 3px;
	}
}
	
	/**
	* Desktop adjustment
	*/
	@media screen and ( min-width: $size__breakpoint-desktop ){
		blockquote {
			@include font-size(2.2);
			margin: 20px 40px 0;
		}
	}

blockquote cite,
blockquote small {
	color: $color__silver;
	@include font-size(1.6);
	font-weight: 700;
	font-family: $font__secondary;
	line-height: $font__line-height-body;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.5em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}


code {
	border: 1px solid $color__border;
	line-height: 1.2;
	background-color: $color__light_bg;
	padding: 0.2em 0.4em;
	border-radius: 7px;
}

pre {
	background-color: transparent;
	background-color: $color__light_bg;
	border: 1px solid $color__border;
	line-height: 1.2;
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	@include border-radius(5px);
}

pre code {
	border: 0;
}

abbr[title] {
	border-bottom: 1px dotted $color__silver;
	cursor: help;
}

mark,
ins {
	background-color: $color__background-ins;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}