.user-avatar {
	position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
    width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: $color__background-body;
    	img,
    	figure {
    		width: 100px;
			height: 100px;
			margin: 0 0 30px;
			border: 1px solid $color__border;			
    	}
    	.default-logo {
			background: url('images/gagasan-logo.png') no-repeat scroll center;
			background-size: 50px auto;

    	}
}

.profile-name {
	padding: 80px 40px 50px;
	border-bottom: 1px solid $color__border;

	.site-title {
		@include font-size( 2 );
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0;
		padding: 0;
		float: none;
		margin-bottom: 10px;
	}
	
	.site-description {
		color: $color__lighter;
	}
}

/* Social Links */

.social-container {
	margin: 20px auto;
	padding-bottom: 20px;
}

.social-links {
	list-style: none;	
    display: inline-block;
    margin: 0;
		
		li {
		    margin: 3px;
		    display: inline-block;
		    text-align: center;
		    padding: 0;
		    
		    a {
				width: 32px;
			    height: 32px;
			    color: $color__silver;
			    border: 1px solid $color__silver;
			    border-radius: 50%;
			    position: relative;
			    text-align: center;
			    display: inline-block;
			    text-decoration: none;
				    
				    &:hover {
				    	color: $color__picton_blue;
				    	border-color:$color__picton_blue;
			}
		}
	}
}

.social-iconic {
	&:before,
	&:after {
		@include genericons(2.2rem);
		line-height: 1.111111;
	}
}

/**
* Widgets
*/
.widget {
	padding: 40px;
	border-bottom: 1px solid $color__border;
	text-align: center;
	@include font-size(1.4);
	&:last-of-type {
		border-bottom: 0;
	}
	a {
		color: $color__silver;
		&:hover {
			color: $color__darker;
		}
	}
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul,ol{
		margin-left: 0;
	}

	li{
		list-style: none;
		margin-bottom: 3px;
	}
}

.page-content {
	.widget {
		padding: 40px 0;
	}
}
/* Widget Title */

.widgettitle,
.widget-title{
	@include font-size( 1.9 );
	@include font-size-desktop( 2.2 );
	font-weight: 700;
	margin-bottom: 10px;
	&:before {
		@include genericons(inherit);
		content: "\f452";
		margin-left: -30px;
		margin-right: 7px;
	}
}

/* Search widget */

.widget_search {
	position: relative;
		.search-form {
			position: relative;
				label:after {
				content: "\f101";
				position: absolute;
				line-height: 1.1111;
				top: 0px;
				right: 0;
				@include genericons(3.2rem);
			}
			.search-field {
				width: 100%;
				@include box-sizing( border-box );
			}
			.search-submit {
			display: none;
		}
	}
	
}

/* RSS Widget */
.widget_rss{
	li{
		margin-bottom: 20px;

		.rsswidget{
			display: block;
			@include font-size( 1.6 );
			font-weight: bold;
			line-height: 1.2;
		}

		.rss-date{
			@include font-size( 1.2 );
		}

		.rssSummary{
		}
	}
}


/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	#secondary{
		@include font-size( 1.6 );
		margin-top: 100px;
	}
}

/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#secondary{
		margin-top: 0;
		border-top: none;
		background: none !important;
	}

	.widget {
		text-align: left;
	}
	
	.widget-title{
		margin-bottom: 5px;
	}

}
