// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Border Radis
@mixin border-radius( $size-radius ) {
	-webkit-border-radius: $size-radius + px; // Safari <= 7
	-moz-border-radius: $size-radius + px; // Firefox <= 19
	border-radius: $size-radius + px;
}

// Layout wrapping
@mixin wrap( $width ){
	display: block;
	width: $width;
	margin-right: auto;
	margin-left: auto;
}

@mixin buttonized ($padding, $font-size-button) {
	padding: $padding;
	font-size: $font-size-button;
}

// Box model
@mixin box-sizing( $box-model ) {
	-webkit-box-sizing: $box-model; // Safari <= 7
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

@mixin transitions ( $seconds, $transitions) {
	-webkit-transition: $seconds + ms all $transitions;
  	-moz-transition: $seconds + ms all $transitions;
  	-o-transition: $seconds + ms all $transitions;
  	transition: $seconds + ms all $transitions;
}

// Tablet typography
@mixin font-size-tablet( $size ){
	@media screen and ( min-width: $size__breakpoint-tablet ){
		@include font-size( $size );
	}		
}

// Desktop typography
@mixin font-size-desktop( $size ){
	@media screen and ( min-width: $size__breakpoint-desktop ){
		@include font-size( $size );
	}	
}