// Color Library
$color__silver: #BFBFBF; // Silver
$color__plain_white: #FFFFFF; // White
$color__picton_blue: #22A7F0; // Picton Blue

// Global Element
$color__border: #E7E7E7;
$color__border_focus: #D8D8D8;

$color__lighter: #888;
$color__darker: #333;

$color__light_bg: #FAFAFA;

// Text Body Colors
$color__text-main: $color__darker;

// Body Background Color
$color__background-body: $color__plain_white;

// Element Color
$color__background-screen: #f1f1f1;
$color__background-hr: $color__border;
$color__border-abbr: #666;
$color__background-pre: #ECECEC;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;

// Global Link Colors
$color__link: $color__darker;
$color__link-visited: $color__darker;
$color__link-hover: $color__picton_blue;