$font__main: "Noto Serif", "Georgia", "Times", serif;
$font__secondary: "Hind", Helvetica, arial, sans-serif;
$font__code: "Inconsolata", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Inconsolata", "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.7;

/* Genericons */

@mixin genericons( $size ){
	font-size: $size;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
	text-decoration: inherit;
	font-family: 'Genericons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
