#comments {
	border-top: 1px solid $color__border;
	.inner--container {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.thoughts {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.comments-area {
	@include headings;
	> :last-child {
		margin-bottom: 0;
	}
}

.comment-respond {
	padding-top: 1.5em;
	padding-bottom: 4.5em;
}

.comment-list,
.comment-navigation {
	+ .comment-respond {
	padding-top: 1.5em; 
	}
}

.comments-title,
.comment-reply-title {
	line-height: 1.5;
}

.comments-title {
	@include font-size(2.5);
	margin-bottom: 1.5em;
}

.comment-list {
	list-style: none;
	margin: 0;
	border-top: 1px solid $color__border;
		article, 
		.pingback,
		.trackback {
			padding: 2.5em 0;
			border-top: 1px solid $color__border;
		}
		.children {
			list-style: none;
			margin: 0;
			> li {
				padding-left: 0.8em;
			}
		}
		.pingback a,
		.pingback {
			font-weight: 700;
			color: $color__silver;
		}
}

.comment-author {
	margin-bottom: 0.4em;
	.avatar {
		float: left;
		height: 55px;
		width: 55px;
		margin-right: 0.8em;
		border: 1px solid $color__border;
		@include border-radius(99999);
	}
	span.says {
		color: $color__silver;
	}
}

.bypostauthor {
	> article {
		 .fn:after {
		 	@include genericons(1.8);
			content: "\f509";
			width: 32px;
			height: 32px;
			line-height: 1.7;	
			margin-left: 5px;
			@include border-radius(17);
			border: 1px solid $color__border;
		}
	}
}

.comment-metadata,
.pingback .edit-link {
	color: $color__silver;
	@include font-size(1.4);
	line-height: 1.5;
	a {
		color: $color__silver;
		&:hover {
			color: $color__picton_blue;
		}
	}
}

.comment-metadata {
	margin-bottom: 1.5em;
	.edit-link {
		margin-left: 1em;
		display: inline-block;
	}
}

.pingback {
	.edit-link {
		margin-left: 1em;
		&:before {
			top: 5px;
		}
	}
}

.comment-content {
	ul, 
	ol {
		margin: 0 0 1.5em 1.2555em;	
	}
	li > ul,
	li > ol,
	> :last-child {
		margin-bottom: 0;
	}
}

.comment-list {
	.reply { 
		@include font-size(1.4);
			a {
				font-weight: 600;
				line-height: 1;
				margin-top: 2em;
				line-height: 1.5;
				border: 1px solid;
				padding: 2px 11px;
				display: inline-block;
				@include font-size(1.2);
				@include border-radius(7);
				color: $color__picton_blue;
				font-family: $font__secondary;
				text-transform: uppercase;
				&:hover {
					color: $color__lighter;
					border-color: $color__lighter;
				}
			}
	}
}

.comment-form {
	padding-top: 1.5em;
		label {
			display: block;
			color: $color__silver;
			@include font-size(1.5);
			font-family: $font__secondary;
			font-weight: 700;
			line-height: 1.5;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin-bottom: 0.2em;
		}
		textarea {
			text-indent: 7px;
		}
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="submit"] {
			width: 100%;
			padding: 0.7778em;
		}
		button:hover,
		input[type="button"]:hover,
		input[type="reset"]:hover,
		input[type="submit"]:hover,
		button:focus,
		input[type="button"]:focus,
		input[type="reset"]:focus,
		input[type="submit"]:focus {
			background-color: $color__silver;
		}
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 2em;
}

.no-comments {
	font-weight: 700;
	padding-top: 1.5em;
	color: $color__silver;
}

.comment-navigation + .no-comments {
	border-top: 0;
}

.form-allowed-tags {
	code,
	abbr {
		border: 0;
		background-color: transparent;
	}
	code {
		font-family: $font__code;
	}
}

.form-submit {
	width: 100%;
	margin-bottom: 0;
}

.required {
	color: #DA584B;
}

.comment-reply-title {
	small {
		font-size: 100%;
		 a {
			float: right;
			@include font-size(1.5);
			overflow: hidden;
			line-height: 1.22;
			padding: 2px 14px;
			text-align: center;
			vertical-align: middle;
			@include border-radius(20);
			color: $color__picton_blue;
			border: 2px solid $color__picton_blue;
				&:hover {
					color: $color__darker;
					border-color: $color__silver;
					}
				&:before {
					content: "\f405";
					@include genericons(2.2rem);
				}
		}
	}
}

.comment-subscription-form {
	margin: 1.5em 0 0.5em;
}