/* Social Icons */

.dribbble-link a:before {
    content: "\f201";
}

.facebook-link a:before {
    content: "\f204";
}

.flickr-link a:before {
    content: "\f211";
}

.github-link a:before {
    content: "\f200";
}

.google-plus-link a:before {
    content: "\f218";
}

.linkedin-link a:before {
    content: "\f207";
}

.pinterest-link a:before {
    content: "\f210";
}

.rss-link a:before {
	content: "\f413";
}

.tumblr-link a:before {
    content: "\f214";
}

.twitter-link a:before {
    content: "\f202";
}

.github-link a:before {
    content: "\f200";
}

.vimeo-link a:before {
    content: "\f212";
}

.youtube-link a:before {
    content: "\f213";
}