.sticky {
	display: block;
}

.hentry {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid $color__border;
	.entry-subtitle {
		@include font-size(2.2);
	    margin-top: 10px;
	    line-height: 1.555;
	    font-weight: lighter;
	    color: $color__lighter;
	}
	&:last-of-type {
		border-bottom: 0 none;
	}
}

.entry-header,
.entry-content,
.entry-summary,
.page-content {
	padding: 0 20px;
}

.entry-meta,
.entry-header {
	.posted-on {
		font-family: $font__secondary;
		margin-bottom: 12px;
		display: block;
		letter-spacing: -0.333px;
	}
}

.entry-header {
	margin-bottom: 10px;
}

.page-header {
	padding: 20px;
	border-bottom: 1px solid $color__border;
}

.posted-on a,
.entry-meta a,
.entry-footer a {
	color: $color__lighter;
	&:hover {
		color: $color__darker;
	}
}


.posted-on,
.entry-meta, 
.entry-footer,
.section-title {
	color: $color__lighter;
}

.posted-on,
.featured-idea {
	font-weight: 700;
	margin-bottom: 16px;
	font-family: $font__secondary;
}

.featured-idea {
	color: $color__picton_blue;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	.more-link,
	.continue-reading {
		font-family: $font__secondary;
		@include border-radius(7);
		color: $color__picton_blue;
		border: 1px solid $color__picton_blue;
		@include buttonized(5px 15px 4px, 14px);
		display: table;
		margin-top: 30px;
		&:hover {
			color: $color__lighter;
			border-color: $color__lighter;
		}
	}
}

.page-links {
	clear: both;
	margin: 2.5em 0 2.5em;
	border-radius: 7px;
	padding: 0 1.5em;
	@include font-size(1.4);
	font-weight: 700;
	vertical-align: middle;
	font-family: $font__secondary;	
	background-color: $color__light_bg;
		a {
			width: 30px;
			padding: 2px;
			text-align: center;
			@include border-radius(999);
			border: 1px solid $color__border;
			display: inline-block;
			margin: 0.5em 0.2em;
			line-height: 1.8;
				&:hover {
					color: $color__plain_white;
					background-color: $color__silver;
				}
		}
}

.entry-footer {
	padding: 10px 20px 0;
	@include font-size(1.4);
	font-weight: 300;
	font-family: $font__secondary;	
	.entry-meta {
		padding: 0 20px 10px;
		.section-title {
			font-weight: 400;
			text-transform: none;
		}
	}
	span {
		margin-right: 2px;
	}
}

.section-title {
	font-weight: 700;
	font-family: $font__secondary;
	text-transform: uppercase;
}

.single {
	.entry-footer {
		padding: 20px 0 0;
		.tags-links {
			display: block;
			padding: 20px 20px 0;
			border-top: 1px solid $color__border;				
			span {
				font-weight: 700;
				display: block;
			}
			a {
				@include border-radius(7);
				@include buttonized(3px 11px 2px, 12px);
				color: $color__lighter;
				border: 1px solid $color__border;
				display: inline-block;
				margin-right: 2px;
				&:hover {
					color: $color__darker;
					border-color: $color__darker;
				}
			}
		}
	}
}

.cat-links,
.comments-link {
	display: block;
}

/**
* Post Formats
*/

/* Format Aside */
.home,
.archive {
	.format-aside {
		background-color: #F9F9F9;
		.entry-footer {
			.entry-meta {
				padding: 0 0 0;
			}
		}
	}
}

.format-aside {
	.posted-on {
		display: block;
	}
}

/* Format Link */
.format-link {
	background-color: #ECECEC;
	.entry-title {
		@include font-size(4.5);
		letter-spacing: -3.3333px;
			a {
				&:before {
					@include genericons(inherit);
					content: "\f107";
				}
				&:after {
					@include genericons(inherit);
					content: "\f429"
			}
		}
	}
}

.format-link {
	.entry-content {
		a {
			border-bottom: 2px dotted $color__darker;
		}
	}
}

.format-quote {
	.entry-title {
		@include font-size(3);
		margin-bottom: 10px;
	}
}
/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	.hentry {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.entry-header,
	.entry-content,
	.entry-summary,
	.page-content {
		padding: 0 40px;
	}

	.page-header {
		padding: 70px 40px 30px;
	}

	.entry-footer {
		padding: 20px 40px 0;
		.entry-meta {
			padding: 0 40px 40px;
		}
	}

	.single {
		.entry-footer {
			padding: 40px 0 0;
			.tags-links {
				padding: 40px 40px 0;
			}
		}
	}

	/*
	* Post Formats
	**/
	
	/* Format Aside */
	.home {
		.format-aside {
			.entry-footer {
				.entry-meta {
					padding: 0 0 40px;
					}
				}
			}
		}
	
	/* Format Link */
	.format-link {
		.entry-header,
		.entry-content,
		.entry-summary,
		.page-content {
			padding: 0 100px;
		}
		.entry-footer {
			padding: 40px 100px 0;
		}
	}
}