.main-navigation {
	float: left;
	width: 100%;
	font-family: $font__secondary;
	
	&.toggled {
		border-top: 1px solid $color__border;
		
		.primary-nav {
			background-color: $color__light_bg;
			
			a { 
				color: $color__silver;
				
				&:hover {
					color: $color__plain_white;
					background-color: $color__silver;
				}
			}
		}
	}
	.nav-menu{
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;

		ul {	

			li {
				padding-left: 20px;

				&:last-child{
					a{						
						border-bottom: 1px dashed $color__border;
					}
				}

				a{
					color: $color__lighter;
				//	border-top: 1px dashed $color__border;
					padding: 4px 20px;
					opacity: .8;
					font-weight: 400;
				}

				ul{
					li{
						&:first-child{
							a{
								border-top: 0;
							}
						}

						&:last-child{
							a{
								border-bottom:0;
							}
						}
					}
				}
			}

			a {
				display: block;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 15px 20px 15px;
		color: $color__text-main;
		@include font-size(1.255555);
		font-weight: 600;
		text-transform: uppercase;
	// text-align: center;
			&:hover {
				color: $color__silver;
			}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__picton_blue;
	}
}

/* Small menu */
.menu-toggle {
	&:before {
		@include genericons(3.2);
		content: "\f419";
		line-height: 1.5;
	}
}

.button--menu {
	width: 32px;
	height: 32px;
	border: medium none;
	color: $color__text-main;
	@include font-size(2.8);
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	position: absolute;
	top: 11px;
	right: 20px;
	overflow: hidden;
	line-height: 1.2222;
	background-color: $color__plain_white;
	&:hover{
		color: $color__picton_blue;
		background-color: $color__plain_white;
	}
}

.admin-bar {
	.button--menu {
		top: 57px;
	}
}

.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
}

/**
* Desktop Adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#site-navigation {
		max-width: 655px;
	}
	.not-touch-device{
		#site-navigation{
			float: left;
			width: auto;
			margin-left: 7px;
			background: transparent;

			.menu-toggle{
				display: none;
			}

			&.main-navigation{
				display: block;
				clear: none;

				.nav-menu{
					display: block;
				}

				ul{
					position: relative;

					li{
						display: inline-block;

						&.menu-item-has-children{
							> a{
								position: relative;
								padding-right: 20px;

								&:after{
									content: "\f431";
									@include genericons( 16px );
									position: absolute;
									top: 11px;
									margin-left: 5px;
								}
							}
						}

						a{
							//padding-bottom: 14px;

							&:hover{
								text-decoration: none;
							}
						}

						li{
							&.menu-item-has-children > a{
								padding-right: 15px;

								&:after{
									content: "\f431";
									top: 0px;
									right: 5px;
									-webkit-transform: rotate(270deg);
									-moz-transform: rotate(270deg);
									-o-transform: rotate(270deg);
								}
							}

							a{
								padding-bottom: 4px;

								&:hover{
									background: #fafafa;
									text-decoration: none;
								}
							}
						}
					}

					ul{
						display: none;
						position: absolute;
						top: 100%;
						left: -1px;
						background: white;
						z-index: 30; // should be higher than .page-header .background & .page-header .page-title, .page-header .page-description
						width: 180px;
						border: 1px solid $color__border;


						li,
						li:first-child,
						li:last-child{
							a{
								border-top: none;
								border-bottom: none;
							}
						}

						li{
							padding-left: 0;
							display: block;
							border-bottom: 1px solid $color__border;

							&:last-child{
								border-bottom: none;
							}

							a{
								display: block;
								opacity: 1;
							}

							ul{
								border-top: 1px solid $color__border;
								display: none;
							}
						}
					}
					
					/**
					* Hover state
					*/
					li.hovered > ul{
						display: block;

						li.hovered > ul{
							top: -1px;
							left: 178px;
						}
					}
				}
			}		
		}
	}
}
